@{
    ViewBag.Title = "Evaluacion_test";
    List<WebSima.Models.MPreguntas_test> preguntasAll = ViewBag.preguntasTest;
    List<String[]> comentariosPregunta= ViewBag.comentarioPreguntas;
    List<String[]> puntosAll = ViewBag.puntoPreguntas;
    int id_test = ViewBag.id;
    String perfil = ViewBag.perfil;
    int cantidad = ViewBag.cantidad;// cantidad de personas q han respondido el test
    String titulo = ViewBag.titleBar;

    WebSima.Models.MUsuario usuario;
    List<WebSima.Models.MCurso> mcursos =  ViewBag.curos;
    int id_curso= ViewBag.id_curso ;
    
    
}

<div>
    <ol class="breadcrumb " style="background-color: #ffffff">
        <li class="breadcrumb-item ">Historia Test</li>
        <li class="breadcrumb-item ">Test</li>
        <li class="breadcrumb-item active">Evaluacion</li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados de Test de satisfacción</h3>
            </div>

            <div class="box-body ">

                <!-- /input-group -->

                <div class="panelBorder">
                    @if (perfil.Equals("Administrador"))
                    {
                        using (Html.BeginForm("Evaluacion_test", "Test", FormMethod.Get, new { id = "fPregunta_test", @class = "" }))
                        {
                            <div class="box-header with-border">
                                <h4 class="margin"><strong> Asignaturas </strong></h4>
                                <div class="input-group input-group-sm col-sm-6">

                                    <input name="id" type="hidden" value="@id_test" />
                                    <select class="form-control select2" id="signatura" name="grupo">

                                        <option value="-1">General </option>
                                        @foreach (var curso in mcursos)
                                        {
                                            <option value="@curso.id"
                                                    @if (curso.id == id_curso) {  @("selected")      }>
                                                @{usuario = WebSima.clases.HelperUsuario.getUsuario(curso.idUsuario);}
                                                @curso.nombre_materia - @usuario.nombre @usuario.apellidos
                                            </option>


                                        }
                                    </select>

                                    <span class="input-group-btn">
                                        <button type="submit" id="buscar_test" class="btn btn-success btn-flat">Consultar</button>
                                    </span>

                                </div>

                            </div>

                        }
                    }
                    <div class="box-body ">
                        <div class="chart-responsive">

                            <h4 class="text-center"><strong>TEST DE SATISFACCIÓ @titulo</strong></h4>
                            <br />
                            <div class="col-lg-12">
                                <div class="progress-group">
                                    <span class="progress-text">Nivel de satisfacción </span>
                                    <span class="progress-number"><b id="porcentaje_texto">00%</b></span>

                                    <div class="progress lg">
                                        <div id="barra_porcentaje" class="progress-bar progress-bar-yellow" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <canvas id="bar-chart-test" width="100%" height="50x"></canvas>
                            @*  <div class="chart" id="bar-chart-test" style="height: 300px;"></div>*@
                        </div>
                       

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- /.col -->
                                <h4><strong> Detalles de las preguntas cerradas </strong></h4>

                                <ul class="chart-legend clearfix" style=" padding-left:10px">
                                    @foreach (var pregunta in preguntasAll)
                                    {
                                        if (pregunta.tipo.Equals("Cerrada"))
                                        {
                                            <li><i class="fa fa-circle-o text-green"> @pregunta.id</i>  @pregunta.Pregunata</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <h4><strong> Personas que han realizado el test: @cantidad</strong></h4>
                    </div>
                   
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4> <strong>Detalles y comentarios de las preguntas abiertas</strong></h4>
                                <div class="box-body chat">
                                    <div class="row">
                                        @{
                                            string[] idPreguntas = comentariosPregunta.Select(x => x[0]).Distinct().ToArray();

                                            foreach (var id in idPreguntas)
                                            {

                                                var comentarios_pregunta = (from c in comentariosPregunta where (c[0].Equals(id)) select c).ToList();
                                                var pregunta = (from p in preguntasAll where (id.Equals(p.id + "")) select p).First();
                                                if (pregunta != null)
                                                {
                                                    <div class="item col-lg-11 col-md-12 " >
                                                        <div>
                                                            <ul class="chart-legend clearfix">
                                                                <li>
                                                                    <i class="fa fa-circle-o text-green"> @pregunta.id</i><strong>  @pregunta.Pregunata</strong>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        @foreach (var comentario in comentarios_pregunta)
                                                        {

                                                            <p></p>
                                                            <div class="attachment">


                                                                <p class="filename">
                                                                    @comentario[1]
                                                                    <br />
                                                                </p>


                                                            </div>

                                                        }
                                                    </div>
                                                }
                                            }
                                        }

                                    </div> 
                                </div>
                            </div>
                        </div>
                        
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('.select2').select2();
        var preguntas = [];
        var valorPregunta = [];
        var PorcentajeSatisfaccion = 0;
        @{
            double nivelSatisfaccion = 0.0;
            double valorPregunta;

            foreach (var punto in puntosAll){
            valorPregunta=Convert.ToDouble(punto[1]) / cantidad;
            nivelSatisfaccion+= valorPregunta;
            @:preguntas.push("Código pregunta  @punto[0]");

            @:valorPregunta.push(@((valorPregunta.ToString()).Replace(",", ".")))
                        }
           @:var PorcentajeSatisfaccion = @(Math.Round(((nivelSatisfaccion / puntosAll.Count()) * 10),2).ToString().Replace(",", "."))
                }

                preguntas.push("");
        valorPregunta.push(0);
        $("#porcentaje_texto").text(PorcentajeSatisfaccion+ "%");
        $("#barra_porcentaje").css('width', PorcentajeSatisfaccion + "%");
        var contenedor = document.getElementById('bar-chart-test').getContext('2d');
        var chart = new Chart(contenedor, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: preguntas,
                datasets: [{
                    label: "Puntaje",

                    backgroundColor: 'rgb(255, 102, 0)',
                    borderColor: 'rgb(255, 102, 0)',
                    data: valorPregunta,
                }]
            },

            options: {}
        });

    });
    </script>