@model WebSima.Models.grupos_acargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>grupos_acargo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuarios.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuarios.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.materias.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.materias.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.periodo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_grupo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_grupo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cursos.periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cursos.periodo)
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.id })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>
