@model WebSima.Models.grupos_acargo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>grupos_acargo</legend>

        @*@Html.HiddenFor(model => model.id)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.idUsuario, "usuarios")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.materia, "materias")
        </div>
        <div class="editor-field">
            @Html.DropDownList("materia", String.Empty)
            @Html.ValidationMessageFor(model => model.materia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.periodo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.periodo)
            @Html.ValidationMessageFor(model => model.periodo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_grupo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_grupo)
            @Html.ValidationMessageFor(model => model.id_grupo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_curso, "cursos")
        </div>
        <div class="editor-field">
            @Html.DropDownList("id_curso", String.Empty)
            @Html.ValidationMessageFor(model => model.id_curso)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
