@{
    ViewBag.Title = "Evaluacion_test";
    List<WebSima.Models.MPreguntas_test> preguntasAll = ViewBag.preguntasTest;
    List<String[]> comentariosPregunta= ViewBag.comentarioPreguntas;
    List<String[]> puntosAll = ViewBag.puntoPreguntas;
}

<div>
    <ol class="breadcrumb " style="background-color: #ffffff">
        <li class="breadcrumb-item ">Historia Test</li>
        <li class="breadcrumb-item ">Test</li>
        <li class="breadcrumb-item active">Evaluacion</li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados de Test de satisfacción</h3>
            </div>

            <div class="box-body ">

                <!-- /input-group -->

                <div class="panelBorder">
                    <div class="box-header with-border">
                        <h4 class="margin"><strong> Asignaturas </strong></h4>
                        <div class="input-group input-group-sm col-sm-4">

                            <input value="4" />
                            <select class="form-control" id="augnatura" name="grupo">

                                <option value="-1">General </option>

                                <option value="83">
                                    Matematicas

                                </option>

                                <option value="82">
                                    Taller de Len...

                                </option>

                            </select>

                            <span class="input-group-btn">
                                <button type="button" id="buscar_test" class="btn btn-success btn-flat">Consultar</button>
                            </span>
                        </div>

                    </div>
                    <div class="box-body ">
                        <div class="chart-responsive">
                            <p class="text-center">
                                <strong>Test de satisfacción</strong>
                            </p>
                            <canvas id="bar-chart-test" width="100%" height=50x"></canvas>
                            @*  <div class="chart" id="bar-chart-test" style="height: 300px;"></div>*@
                        </div>
                        
                        
                    </div>
                    <hr />
                    <div class="box-body">
                        <div class="col-sm-12">
                            <!-- /.col -->
                          <h4>Detallaes de las preguntas</h4>

                                <ul class="chart-legend clearfix">
                                    @foreach(var pregunta in preguntasAll){  
                                    <li><i class="fa fa-circle-o text-green"> @pregunta.id</i>  @pregunta.Pregunata</li>
                                    
                                    }
                                  </ul>
                            
                        </div>
                        <!-- /.row -->
                    </div>
                    <hr />
                    <div class="box-body">
                        <div class="col-sm-12">
                            <h4>Comentarios </h4>

                            <table class="table tablaPaginacion table-responsive table-hover">

                                <tbody>
                                    @foreach (var coemtario in comentariosPregunta)
                                    {
                                        <tr>
                                            <td style="width:20px">
                                                 @coemtario[0]
                                             </td>
                                            <td>@coemtario[1]</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                        
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->


                </div>

            </div>

        </div>
        
    </div>
</div>

<script>
    $(function () {

        var preguntas = [];
        preguntas.push("")
        var valorPregunta = [];
        valorPregunta.push(0)

        @foreach(var punto in puntosAll){

            @:preguntas.push("Pregunta numero: @punto[0]");
            @:valorPregunta.push(@punto[1]);
        }

        preguntas.push("")
      
        valorPregunta.push(0)



        var contenedor = document.getElementById('bar-chart-test').getContext('2d');
        var chart = new Chart(contenedor, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: preguntas,
                datasets: [{
                    label: "Puntaje",

                    backgroundColor: 'rgb(255, 102, 0)',
                    borderColor: 'rgb(255, 102, 0)',
                    data: valorPregunta,
                }]
            },

            // Configuration options go here
            options: {}
        });



        //BAR CHART

        // generaChartBarra(contenedor, datos, '#00a65a', "Pregunta", "test de satisfaccion")
    });
</script>