@model IEnumerable<WebSima.Models.MPreguntas_test>
@{
    ViewBag.Title = "Listar";
    Layout = null;
}

<div class="row">
    <div class="text-right col-sm-12">
        <button type="button" id="refrescar"  class=" btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
    </div>
    @*<div class="text-right col-sm-12"><i title="Refrescar preguntas" id="refrescar"class="fa fa-refresh"></i></div>*@
    <div class="box-body table-responsive ">
        <table class="tablaPaginacion table table-hover table-sm table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pregunata)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo)

                    </th>

                    <th class="text-center" style="width:150px">Opciones</th>
                </tr>
            </thead>
            <tbody>


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pregunata)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipo)
                            </td>

                            <td class="text-center" style="width:150px">


                                @Html.ActionLink(" ", "Edit_Pregunta", new { id = item.id }, new { @class = "btn btn-default fa  fa-pencil-square-o editar_pregunta", title = "Editar" })
                                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-default fa fa-times eliminar", title = "Eliminar", style = "color:red;" })


                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade panelborder  " id="modal-pregunta">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" id="close_pregunta" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Editar pregunta</h3>
            </div>
            <div class="modal-body" id="modat_pregunta">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<

<script>
    $(document).ready(function () {
        $('#refrescar').click(function (event) {
            $("#listar").load("/Test/Listar");
        });
        // cuando se se da click en el link detalles
        $('.editar_pregunta').click(function (event) {
            // se cancela el elevento para que no redireccione
            event.preventDefault();
            // se obtiene la url
            var href = $(this).attr('href');
            // se carga el contenido del modal
            $('#modat_pregunta').load(href, function () {
                // se muestra el modal
                $('#modal-pregunta').modal({ show: true });
            });
        });
        // se configura la tabla, esta funcion está en helper.js
        configurar_dataTable("tablaPaginacion");

        $(".eliminar").click(function (e) {
            e.preventDefault();
            // se obtiene el href  de <a> que apunta a la ruta elininar del registro
            var url = $(this).attr('href');

            // para eliminar la fila cuando se haya eliminado el registro de la BD
            var tr = $(this).parents("tr");

            $.confirm({
                title: 'Eliminar!',
                content: "¿Desea eliminar la pregunta?",
                buttons: {
                    ACEPTAR: function () {
                        $.ajax({
                            url: url,
                            type: 'post',
                            beforeSend: function () { },
                            success: function (response) {
                                if (response["RESPUESTA"] == "OK") {
                                    tr.hide();
                                    //$("#tabla_usurios").row(tr).remove().draw();
                                } else if (response["RESPUESTA"] == "ERROR") {
                                    $.alert(response["MENSAJE"], "Error");
                                }
                                else if (response["RESPUESTA"] == "LOGIN") {
                                    location.href = "/";
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                                $.alert("Error  al realizar la cosnulta", "Error");
                            }
                        });
                    },
                    CANCELAR: function () {

                    },
                }
            });

        });
    });




















</script>