@{
    ViewBag.Title = "Reporte de asistencia";
    SelectList materias = ViewBag.materias;
    List<String[]> asistencia = ViewBag.asistencia;
    if (asistencia == null) {
        asistencia = new List<string[]>();
    }
    
    List<WebSima.Models.WebApi.ComportamientoNotaEstudiente> datos_estudiante = ViewBag.datos_estudiante;
    String asignatura = ViewBag.asignatura;
    List<String> periodos = ViewBag.periodos;
    String seleted = "selected";
    String peridoSeleccionado = ViewBag.peridoSeleccionado;
    System.Globalization.NumberFormatInfo provider = new System.Globalization.NumberFormatInfo();

     SelectList  programas = ViewBag.programas;
    string programa = ViewBag.programa;

    }

<div>
    <ol class="breadcrumb " style="background-color: #ffffff">
        <li class="breadcrumb-item ">Home</li>
        <li class="breadcrumb-item active">Informe</li>

    </ol>
</div>

<div class="box box-success ">
    <div class="box-header  with-border">
        <div class="box-header with-border panelBorder ">
            <div class="row">
                @using (Html.BeginForm("Reporte_asistencia", "Informe", FormMethod.Get, new { id = "formdato" }))
                {
                    <div class="col-sm-12 col-12  col-lg-2 ">
                        <h3 class=" margin">
                            Período
                        </h3>
                        <select required class="form-control " id="periodo" name="periodo">
                            @foreach (String periodo in periodos)
                            {
                                if (peridoSeleccionado.Equals(periodo))
                                {
                                    <option @seleted value="@periodo">@periodo</option>
                                }
                                else
                                {
                                    <option value="@periodo">@periodo</option>
                                }
                            }
                        </select>
                    </div>
    <div class="col-sm-12 col-lg-3 col-12 ">
        <h3 class=" margin">
            Asignaturas
        </h3>

        @Html.DropDownList("materia", materias, asignatura,
                           new { @class = "form-control select2" })
    </div>
    <div class="col-sm-12 col-lg-4  col-12">
        <h3 class=" margin">
            Programas
        </h3>
        @Html.DropDownList("programa", programas, programa,
                           new { @class = "form-control select2" })
    </div>
    <div class="col-sm-12 col-lg-1 col-12">
        <br /><br />
        <h3 class=" margin"></h3>
        <button type="submit" class="btn btn-success">Buscar</button>
    </div>
                }
            </div>
        </div>
        <br />
        <div class="box-body col-sm-12 panelBorder">
            <!-- segundo despligue -->
            <div class=" box-body " style="border: 1px solid #e0e0e0; ">

                <div class="box-tools pull-right">
                </div>
                <div class="col-sm-12 table-responsive">
                    <table id="table1-nota" class="table tablaPaginacion table-bordered table-hover" style="width :100%">
                        <thead >
                            <tr>
                                <th></th>
                                <th>IDENTIFICACÓN</th>
                                <th>NOMBRE COMPLETO</th>
                                <th>PROGRAMA</th>
                                <th>NOTA-1</th>
                                <th>NOTA-2</th>
                                <th>DEFINITIVA</th>

                                <th width="20px">ASIST. SIMA</th>
                                <th width="20px">INASIST. CLASE</th>
                            </tr>
                        </thead>
                        <tbody>                     
                           
                              
                               @{                                   
                                    int i = 1;                                 
                                    if (datos_estudiante != null)
                                    {
                                        
                                        List<string> ides = (from e in datos_estudiante select (e.num_identificacion)).Distinct().ToList();
                                       // List<string> id_asistencia = (from a in asistencia select (a[1])).ToList();
                                      //  ides = ides.Union(id_asistencia).ToList();
                                        string canti_asistencia;
                                        foreach (var id in ides)
                                        {
                                            string string_nota1="0";
                                            string string_nota2="0";
                                            canti_asistencia = "0";
                                            var estudiante = (from e in datos_estudiante where (e.num_identificacion.Equals(id)) select (e)).ToList();
                                            var tem = (from a in asistencia where(a[1].Equals(id)) select (a[0])).ToList();
                                            if (tem.Count() > 0) { 
                                                canti_asistencia = tem.First();
                                            }
                                            if (estudiante.Count() > 0) {
                                                string_nota1 = (from n in estudiante where (n.num_nota.Equals("1")) select (n.nota)).First();
                                                string_nota2 = (from n in estudiante where (n.num_nota.Equals("2")) select (n.nota)).First();
                                            }
                                            // var estudiante = datos_estudiante.Select(e => e).Where(e => e.num_identificacion.Equals(item[1])).Distinct();
<tr>
                                            <td>@(i++)</td>
                                            <td>@id</td>
                                            <td>
                                                @if (estudiante.Count() > 0)
                                                {
                                                    @estudiante[0].nom_largo;
                                                }
                                                else
                                                {
                                                    String mesanje = "Nombre no identificado";
                                                    @mesanje;
                                                }

                                            </td>

                                            <td>
                                                @if (estudiante.Count() > 0)
                                                {
                                                    @estudiante[0].nom_unidad
                                                }
                                                else
                                                {
                                                    String mesanje = "Programa no identificado";
                                                    @mesanje;
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (estudiante.Count() > 0)
                                                {
                                                    if (string_nota2.Equals("0") || string_nota2.Equals("0.0")) { 
                                                         @("0,0")
                                                    }
                                                    else { 
                                                    @(Double.Parse(string_nota1, provider).ToString("#.##"));
                                                }
                                                }
                                                else
                                                {
                                                   
                                                    @("0,0")
                                                }

                                            </td>
                                            <td class="text-center">
                                                @if (estudiante.Count() > 0)
                                                {
                                                    if (string_nota2.Equals("0") || string_nota2.Equals("0.0")) { 
                                                         @("0,0")
                                                    }
                                                    else { 
                                                    @(Double.Parse(string_nota2, provider).ToString("#.##"));
                                                    }
                                                }
                                                else
                                                {
                                                   
                                                    @("0,0")
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (estudiante.Count() > 0)
                                                {

                                                    provider.NumberDecimalSeparator = ".";
                                                    double nota1 = Double.Parse(string_nota1, provider) * (0.4);
                                                    double nota2 = Double.Parse(string_nota2, provider) * (0.6);
                                                    double notaFin = nota1 + nota2;
                                                    
                                                      
                                                    @(Math.Round(notaFin, 1))
                                                  
                                                   

                                                }
                                                else
                                                {
                                                    @*<div class="text-red">0,0</div>*@
                                                    @("0,0")
                                                }
                                            </td>

                                            <td class="text-center">
                                                @canti_asistencia
                                            </td>
                                            <td class="text-center">
                                                @if (estudiante.Count() > 0)
                                                {
                                                   @estudiante[1].num_fallas
                                                }
                                                else
                                                {
                                                     @("0")
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    @if (datos_estudiante != null)
{
    <a href="/informe/Download_reporte_asistencia" class=" btn btn-success">
        <i class="fa fa-file-excel-o"></i> Exportar
    </a>
    <a href="#" class=" btn btn-success" data-toggle="modal" data-target="#modal-correo" id="modalCorreo">
        <i class="fa fa-envelope-o"></i> Enviar Correo
    </a>




}
                </div>
            </div>
            <br />
            <div id="chart2" class="panelBorder">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Estadistica de notas</h3>
                    

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
                            <select id="filtrar-select" class="form-control">
                                <option value="3">Nota final</option>
                                <option value="1">Nota 1</option>
                                <option value="2">Nota 2</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
                            <select id="rango-select" class="form-control">
                                <option value="1">Rango de nota</option>
                                <option value="2">Menor a 3</option>
                                <option value="3">entre 3 y 3,9</option>
                                <option value="4">entre 4 y 4,9</option>
                                <option value="5">En 5</option>
                                <option value="6">En 3 o más</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
                            <button type="button" id="modal-mosatrar" class="btn btn-success" data-toggle="modal" data-target="#modal-notas-rango">
                               Detalles
                            </button>
                        </div>
                        <div id="limpiar_grafica" class="  col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <canvas id="pieChart" width="100%" height="60px"></canvas>
                        </div>
                        <div id="canidad-estudiantes" class="col-sm-12"><p>Estudiantes</p></div>
                       
                     </div>
                </div>
                <!-- /.box-body-->

            </div>
        </div>
       
    </div>
</div>
<div class="modal fade panelborder  " id="modal-notas-rango">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" id="close_pregunta" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="tituli-modal">Estudiantes con notas </h3>
            </div>
            <div class="modal-body" id="modat_estudiantes-rango">
                <div class="panelBorder">
                    <table id="table1-nota-rango" class="table tablaPaginacion table-bordered table-hover" style="width :100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>IDENTIFICACÓN</th>
                                <th>NOMBRE COMPLETO</th>
                                <th>PROGRAMA</th>
                                <th>NOTA-1</th>
                                <th>NOTA-2</th>
                                <th>DEFINITIVA</th>

                                <th width="20px">ASIST. SIMA</th>
                                <th width="20px">INASIST. CLASE</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div>
                        <button class="btn btn-success" id="exportar-datos" >
                            <i class="fa fa-file-excel-o"></i> Exportar
                        </button>
                    </div>
                </div>
                

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade  " id="modal-correo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Redactar Correo</h3>
            </div>
            <div class="modal-body row" >
                <div id="idEnviarCorreo" class="col-md-12 ">


                </div>
            </div>
            <!-- Main content -->


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        var labels = ["Notas entre 0 - 2,9",  "Notas entre 3 - 3,9", "Notas entre 4 - 4,9", "Notas en 5"];
        var data = [];
        var pos;// posisicion de la columna notas a filtar 
        window.pos = 6;
        var rango = 1;// rango de nota a filtrar 

        $('.select2').select2();
        
        $("#idEnviarCorreo").load("/Mail/Redactar ");
        
        
        $("#exportar-datos").click(function () {
            var table = $('#table1-nota-rango').DataTable();
            var datos_table = table.data();
            var stockData = [[
                "Identificación",
                "Nombre",
                "Programa",
                "Nota corte 1",
                "Nota corte 2",
                "Definitiva",
                "Asistencia a monitorias",
                "Asistencia a clase"
            ]];
            $.each(datos_table, function (key, value) {
                stockData.push([
                    value[1],
                     value[2],
                     value[3],
                     value[4],
                     value[5],
                     value[6],
                    value[7],
                   value[8]
                ]);
            });
            console.log(stockData)
            esportar_a_excel("Reporte", "Reporte-SIMA", stockData, "Reporte-SIMA" )


        });
        $(".tablaPaginacion").DataTable({
            'language': language,
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            "order": [[7, "desc"]],
            "scrollX": true,

            "rowCallback": function (Row, Data) {
                if (parseFloat(Data[6].replace(",", ".")) < 3) {
                    $($(Row).find("td")[6]).css('color', '#FD3431');
                }
                if (parseFloat(Data[5].replace(",", ".")) < 3) {
                    $($(Row).find("td")[5]).css('color', '#FD3431');
                }
                if (parseFloat(Data[4].replace(",", ".")) < 3) {
                    $($(Row).find("td")[4]).css('color', '#FD3431');
                }
                
            }
        });


        $("#periodo").change(function () {
            $("#formdato").submit();
        });
        $("#materia").change(function () {
            $('#programa  option').remove();
           
            $('#programa').append('<option value="Todos">Todos</option>');


            $.ajax({
                url: "/Informe/getProgramas?periodo=" + $("#periodo").val() + "&materia=" + $("#materia").val().replace(" ", "+"),
               
                dataType: "json",
                type: 'post',
                beforeSend: function () { },
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#programa').append('<option value="' + item + '">'+item+'</option>');
                    });
                }, error: function (error) {
                    alert("Error al cargar los prgramas");
                  
                }
            });
        });
        $("#filtrar-select").change(function () {
            
            if ($("#filtrar-select").val() === "1") {
                window.pos = 4;
            }
            else if ($("#filtrar-select").val() === "2") {
                window.pos = 5;
            }
            else if ($("#filtrar-select").val() === "3") {
                window.pos = 6;
            }
            data = armaVerctorDato(window.pos, rango);
            cargar_dato_pie("pieChart", labels, data, false,"pie");// esta en carga_dato_chart_pie.js
        });
        
        data = armaVerctorDato(window.pos, rango);
        cargar_dato_pie("pieChart", labels, data, false, "pie");// esta en carga_dato_chart_pie.js
    });
    $("#modal-mosatrar").click(function () {
        
        rango = $("#rango-select").val();
        
        titulo = "";
        if (rango == 1) {
            titulo = "notas entre 0 y 5";
            createAddRows(window.pos, 0, 5);
        }
        else if (rango == 2) {
            titulo = "notas entre 0 y 2,9";
            createAddRows(window.pos, 0, 2.999);

        }
        else if (rango == 3) {
            titulo = "notas entre 3 y 3,9";
            createAddRows(window.pos, 3, 3.999);

        }
        else if (rango == 4) {
            titulo = "notas entre 4 y 4,9";
            createAddRows(window.pos, 4, 4.999);

        }
        else if (rango == 5) {
            titulo = "notas en 5";
            createAddRows(window.pos, 5, 5);

        }
        else if (rango == 6) {
            titulo = "notas entre 3 y 5";
            createAddRows(window.pos, 3, 5);

        }
        $("#tituli-modal").text("Estudiantes con " + titulo);
    });
    $("#rango-select").change(function () {
               
        rango = $("#rango-select").val();
       
        if (rango==1) {
            labels = ["Notas entre 0 - 2,9", "Notas entre 3 - 3,9", "Notas entre 4 - 4,9", "Notas en 5"];
        }
        else  if (rango == 2) {
            labels = ["Notas entre 0 - 2,9", "Otras"];
           
        }
        else if (rango == 3) {
            labels = ["Notas entre 3 - 3,9", "Otras"];

        }
        else if (rango == 4) {
            labels = ["Notas entre 4 - 4,9", "Otras"];

        }
        else if (rango == 5) {
            labels = ["Notas en 5", "Otras"];

        }
        else if (rango == 6) {
            labels = ["Notas entre 3 - 5", "Otras"];

        }
        data = armaVerctorDato(window.pos, rango);
        cargar_dato_pie("pieChart", labels, data, false, "pie");// esta en carga_dato_chart_pie.js
    });
    
    function getNotas(posCol) {  
        
       
        var temNota = [];
        var table = $('#table1-nota').DataTable();
        var datos_table = table.data();
        
        var nfilas = datos_table.length;

        for (i = 0; i < nfilas; i++) {// recorre las filas
            var nota = datos_table[i] ;
            temNota.push($.trim(nota[posCol]));
        }
        document.getElementById("canidad-estudiantes").innerHTML = "<p>Estudiantes: " + nfilas+"</p>";
        return temNota;
    }
    function armaVerctorDato(posColumnaNotas, rango) {
        var datos_tem = [];
        var notas = getNotas(posColumnaNotas);
        if (rango == 1) {
            datos_tem.push(getPorcentaje(0, 2.9999, notas));
            datos_tem.push(getPorcentaje(3.0, 3.9999, notas));
            datos_tem.push(getPorcentaje(4.0, 4.9999, notas));
            datos_tem.push(getPorcentaje(5.0, 5.0, notas));
        }
        else if (rango == 2) {
            porcen_tem =  getPorcentaje(0, 2.9999, notas);
            datos_tem.push(porcen_tem);
            datos_tem.push(100-porcen_tem);
        }
        else if (rango == 3) {
            porcen_tem = getPorcentaje(3.0, 3.9999, notas);
            datos_tem.push(porcen_tem);
            datos_tem.push(100 - porcen_tem);
        }
        else if (rango == 4) {
            porcen_tem = getPorcentaje(4.0, 4.9999, notas);
            datos_tem.push(porcen_tem);
            datos_tem.push(100 - porcen_tem);
        }
        else if (rango == 5) {
            porcen_tem = getPorcentaje(5.0, 5.0, notas);
            datos_tem.push(porcen_tem);
            datos_tem.push(100 - porcen_tem);
        }
        else if (rango == 6) {
            porcen_tem = getPorcentaje(3.0, 5.0, notas);
            datos_tem.push(porcen_tem);
            datos_tem.push(100 - porcen_tem);
        }
        return datos_tem;
    }
    function getPorcentaje(minLimite, maxLimite, notas) {
        var cantidad = 0;
        var nota = 0;
        var porcentaje = 0;
        for (i = 0; i < notas.length; i++) {
            nota = parseFloat(notas[i].replace(",", "."));
            if (nota >= minLimite && nota <= maxLimite) {
                cantidad++;
            }
        }
      
        porcentaje =( (cantidad / notas.length) * 100).toFixed(2);
        
        return porcentaje;



    }
    function createAddRows(posCol, minLimite, maxLimite) {

        var table = $('#table1-nota').DataTable();
        var datos_table = table.data();       
        var nfilas = datos_table.length;
        contidad = 1;
      
        tabla_detalles = $('#table1-nota-rango').DataTable();
        tabla_detalles.clear().draw();
        for (i = 0; i < nfilas; i++) {// recorre las filas

            var datos = datos_table[i];
            
            nota = parseFloat(datos[posCol].replace(",", "."));
            
            if (nota >= minLimite && nota <= maxLimite) {
             
                row = [];
                row.push(contidad++);
                for (j = 1; j < datos.length; j++) {
                    row.push(datos[j]);                   
                }
                tabla_detalles.row.add(row).draw(false);
            }
        }
    }
    

</script>


